 {%include "aa"%}

{%include "list_item"%}
  {{ 'test.js' | asset_url | script_tag }}
 <div class="detail-page-all-all">
  <div class="detail-page-all">
      <div class="detail-page-top">
          <div class="detail-page-top-img">
              <div class="detail-page-top-img-small">
                
                  <div class="detail-page-top-img-small-img">
                      <img src="carpet.jpg"/>
                  </div>
                  
              </div>
              <div class="detail-page-top-img-big">
                      <img id ="detail-page-top-img-big"  src="carpet.jpg"/>
              </div>
          </div>
          <div class="detail-page-top-tabs">
              <div class="tabs">
                  <div class="tab">
                      <input type="radio" id="tab-1" name="tab-group-1" checked>
                      <label for="tab-1">PRODUCT DETAIL</label>
                      <div class="content tab-detail">
                          <div class="tab-detail-name">{{product.title}}</div>
                          <div class="tab-detail-color">
                              <div class="tab-detail-color-name">Color:</div>
                              <div class="tab-detail-color-img">
                                
                                {% for product_option in product.options_with_values %}
                            {%if product_option.name == "colorName"%}
     					  {% for value in product_option.values %}
                        		  <div class="tab-detail-color-img-items color option_t" id="{{ value }}" data-id="{{ value }}" >
                                      <img class"img_url1 option_t" data-id="{{ value }}" src="aa.jpg"/>
                                                                   {{ value }}
                                  </div>
                           {% endfor %}
                        {% endif %}
           				 {% endfor %}
                            
                              </div>
                          </div>
                          <div class="tab-detail-size">
                              <div class="tab-detail-size-name">Size:</div>
                              <div class="tab-detail-size-icon ">
                                 {% for product_option in product.options_with_values %}
                            {%if product_option.name == "shapeSize"%}
     					  {% for value in product_option.values %}
                        		   
 										{% assign size = value | replace: '"' , '&'  %} 
                                   <div class="tab-detail-size-icon-items sizes option_t"  data-id="{{ size | replace: "'", "*"   }}"   >
                                    
                                                                   {{ value }}
                                   </div>


                           {% endfor %}
                        {% endif %}
           				 {% endfor %}
                                
                              </div>
                          </div>
                          <div class="tab-detail-add-all">
                            <form action="/cart/add" method="post"  enctype="multipart/form-data" id="AddToCartForm">
                                     <div  style="display:fix">
          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
      </div>    
          {% assign instructions = current_variant.metafields.specifications %}
            {% assign key = 'all' %}
            
          {% if product.compare_at_price_max > product.price %}
           
	<div class="tab-detail-add-left">

                              <p id="ComparePrice">
 
              {{ current_variant.compare_at_price | money | remove "Compare at" }}
                                                             
            </p>
	</div>
          {% endif %}
                              <div class="tab-detail-add-right">
                                  <div class="tab-detail-add-right-qty">
        								   <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                  </div>
                                  <div class="tab-detail-add-right-add">
 <button type="submit" name="add" id="AddToCart" style="border: none;background: none;width: 100%;height: 100%;">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
                                </div>
                              </div>                   
                   
        </form>
                          </div>
                      </div>
                  </div>
                  
                  <div class="tab">
                      <input type="radio" id="tab-2" name="tab-group-1">
                      <label for="tab-2">DESCRIPTION</label>

                      <div class="content DESCRIPTION">
                         {{product.description}}
                      </div>
                  </div>
                <div class="tab">
                      <input type="radio" id="tab-3" name="tab-group-1">
                      <label for="tab-3">Product Information</label>

                      <div class="content Product_Information" style="overflow: auto;">
                        <div class="Product_Information_u" >
                         
                           info
                          
                          
                      </div>
                  </div>
                </div>
                 <div class="tab">
                      <input type="radio" id="tab-6" name="tab-group-1">
                      <label for="tab-6">DESIGN TIPS</label>

                      <div class="content">
                          DESIGN TIPS
                      </div>
                  </div>
                  <div class="tab">
                      <input type="radio" id="tab-4" name="tab-group-1">
                      <label for="tab-4">REMOVE STAINS</label>

                      <div class="content">
                          REMOVE STAINS
                      </div>
                  </div>
                  <div class="tab">
                      <input type="radio" id="tab-5" name="tab-group-1">
                      <label for="tab-5">E-BOOK</label>

                      <div class="content">
                          E-BOOK1
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 

<div itemscope itemtype="http://schema.org/Product">

 
  {% assign current_variant = product.selected_or_first_available_variant %}
      
  {% section 'related_product'%}   

</div>
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
   var color_img = new Array();
    var all_metafild = new Array();
    var all_metafild1 = new Array();
    var all_images = new Array();
//  {% for variant in product.variants %}
         var all_images1 = [];
       subvariant1={};
  //console.log(' ');
  			{%if variant.metafields.images.all %}
              {%assign images = variant.metafields.images.all | split : "," | reverse  %}
  			{%else%}
              {%assign images = variant.metafields.images.all | split : "," | reverse  %}
    		{%endif	%}
				var i=0;
			{%	for image in  images %}
             	all_images1[i]='{{image | remove :".jpg"}}';
  			i=i+1;
             {%endfor%}
  			 all_images['{{variant.id}}']=all_images1;
     	   {% for metafild in variant.metafields.specifications %}
  subvariant1['{{ metafild | first }}']  ='{{ metafild | last | remove :"'" | remove :'"' | remove :'/' }}';
                 {% endfor %}
              all_metafild[{{variant.id}}]= subvariant1 ;
  
  
  
                       
  {% assign img = variant.metafields.images.all | split: "," |reverse  %}
  color_img['{{ variant.metafields.specifications.colorName }}'] = "{{ img[0] }}"; 
         //   console.log(color_img);
          //  console.log('{{ variant.metafields.specifications.colorName }}');   
         //   console.log('{{ img[0] }}');   


                       
 //            //  $("#foo").attr("src", "bar2.jpg");   	
// {% endfor %}
                         
                         
                         
                     console.log(color_img);
                        console.log('22');
            jQuery('.color').each(function(index, currentElement) {
             var id1=jQuery(this).attr("id");
               if( color_img['nocolor']){
                 var color2=color_img['nocolor'] ;
             // console.log('variant.metafields.specifications.colorGroupName+NO');
                           jQuery(this).find('img').attr('src',"11");    
              }
              else
              {         
  var color2=color_img[id1].replace('.jpg','_T.jpg') ;
            //  console.log(color2);
             // console.log('variant.metafields.specifications.colorGroupName');
                       jQuery(this).find('img').attr('src',color2);   
              } 
});
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
    });
            //$(".Product_Information").html(variant.id);
    var detalepage_filds_value= new Array();
    var detalepage_filds_title= new Array();
    var detalepage_filds_title_style= new Array();
    var detalepage_filds_value_style= new Array();
    
      {{detalepage_filds_value | replace :"*","'" }}
      {{detalepage_filds_title | replace :"*","'"}}
      {{detalepage_filds_title_style | replace :"*","'"}}
      {{detalepage_filds_value_style | replace :"*","'"}}

    // console.log(detalepage_filds_value);
    var admin_Class=  detalepage_filds_value['{{product.metafields.adminClassOwner_text.all}}'];
    var admin_Class_title=  detalepage_filds_title['{{product.metafields.adminClassOwner_text.all}}'];
 	var detalepage_filds_title_style_a=  detalepage_filds_title_style['{{product.metafields.adminClassOwner_text.all}}'];
    var detalepage_filds_value_style_a=  detalepage_filds_value_style['{{product.metafields.adminClassOwner_text.all}}'];
    		var value_info="";
              $.each(admin_Class, function( index12, value12 ) {
                      //  console.log(all_metafild[variant.id][value12]);
                   if(typeof all_metafild[variant.id][value12] === 'undefined') {
                       //console.log('no');
                    }
                    else {
                       // console.log(index);
                                  value_info=value_info+"<ul class='ul_info'><li class='li_info' style='"+detalepage_filds_title_style_a[index12]+"'>"+admin_Class_title[index12]+"</li><li class='li_info_r'style='"+detalepage_filds_value_style_a[index12]+"' >"+all_metafild[variant.id][value12]+"</li></ul>";
                    }
              });
                $(".Product_Information").html(value_info);
           	//console.log(all_images[variant.id]); 
       jQuery('#detail-page-top-img-big').attr('src',all_images[variant.id][0]+"_S.jpg"); 
    var images_T="";
     $.each(all_images[variant.id], function( index, value ) {
      images_T+=" <div class='detail-page-top-img-small-img'><img class='img_T' src='"+value+"_T.jpg'/></div>"; 
       
     // console.log(all_images);
       
            });
    $('.detail-page-top-img-small').html(images_T);
  
    $('.img_T').click(function(){
   				var img_src_b=$(this).attr('src');
      var img_src_B1=img_src_b.replace('T.jpg', '' );
       	 	jQuery("#detail-page-top-img-big").attr('src',img_src_B1+"S.jpg");
});
  
  };
   var color =jQuery(".color").attr("data-id");
         jQuery('.color').click(function(){
            jQuery(".color").removeClass("images_active");
           jQuery(this).addClass('images_active');
         var color =jQuery(this).attr("data-id");
          jQuery("select[id='productSelect-option-1'] ").val(color).trigger("change");
		});
         jQuery('.sizes').click(function(){
         var size =jQuery(this).attr("data-id");
            var res = size.replace("*", "'");
            var res = res.replace("*", "'");
            var res = res.replace("&", '"');
            var res = res.replace("&", '"');
           jQuery("select[id='productSelect-option-0'] ").val(res).trigger("change");
            jQuery(".sizes").removeClass("size_active");
           jQuery(this).addClass('size_active');
		});  
    
     $('.img_T').click(function(){
   				var img_src_b=$(this).attr('src');
      var img_src_B1=img_src_b.replace('T.jpg', '' );
       	 	jQuery("#detail-page-top-img-big").attr('src',img_src_B1+"S.jpg");
});
  
  
  
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
  $(document).ready(function(){
   
    
   
     
    
    
    		$('#AddToCart').click(function(){
              setTimeout(function(){
              jQuery.getJSON('/cart.js', function(cart) {
   // now have access to Shopify cart object
   //alert('There are now ' + cart.item_count + ' items in the cart.');
                 jQuery("#item_count").html(cart.item_count );
               // alert(cart.item_count);
} );
              }, 300)
            });
    $('.img_T').click(function(){
   				var img_src_b=$(this).attr('src');
      var img_src_B1=img_src_b.replace('T.jpg', '' );
       	 	jQuery("#detail-page-top-img-big").attr('src',img_src_B1+"S.jpg");
});
    
    
     
    jQuery('.tab-detail-color-img').children(":first").addClass('images_active');
    jQuery('.tab-detail-size-icon').children(":first").addClass('size_active');
    
     
   // alert(1);
    
  });
</script>
<style>
  .Product_Information .ul_info:nth-of-type( odd  ) {
  background: #d8d5d5;
 
}
.Product_Information .ul_info:nth-of-type(even) {
    background: #ececec;

}
  .images_active{
  border: 5px solid #e5bf44 !important;
  }
   .size_active{
      background-color:#e5bf44;
  }
   html, body {
      margin: 0;
      height: auto;
      font-family: Lato;
    }
    .detail-page-all-all {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      .detail-page-all {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .detail-page-top {
          width: 100%;
          height: 650px;
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
      }
      .detail-page-top-img {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: space-between;
      }
      .detail-page-top-img-small {
          width: 15%;
          height: 100%;
          display: flex;
          flex-direction: column;
      }
      .detail-page-top-img-small-img {
          width: 100%;
          height: calc(25% - 50px);
          margin: 25px 0;
          cursor: pointer;
      }
      .detail-page-top-img-small-img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .detail-page-top-img-big {
          width: 80%;
          height: 100%;
      }
      .detail-page-top-img-big img {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
      .detail-page-top-tabs {
          width: 55%;
          height: 100%;
      }
      .detail-page-carousel-top {
          width: 85%;
          height: 585px;
        overflow:hidden;
          margin: 50px auto;
      }
      .detail-page-carousel-bottom {
          width: 85%;
          height: 585px;
          margin-bottom: 50px;
      }
      /*tabs*/
    .tabs {
        position: relative;
        height: 100%;
        clear: both;
    }
    .tab {
        float: left;
    }
    .tab label {
        background: #eee;
        padding: 12px;
        border: 1px solid #ccc;
        margin-left: -1px;
        position: relative;
        left: 1px;
        font-size: 13px;
        cursor: pointer;
    }
    .tab [type=radio] {
        display: none;
    }
    .content {
        /*width: 100%;*/
        position: absolute;
        top: 28px;
        left: 0;
        background: white;
        right: 0;
        bottom: 0;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 0 0 10px 10px;
        height: calc(100% - 70px);
    }
    [type=radio]:checked ~ label {
        background: white;
        border-bottom: 1px solid lightgrey;
        z-index: 2;
        box-shadow: 1px 0 4px -1px rgba(0, 0, 0, 0.16);
        cursor: default;
        font-weight: bold;
    }
    [type=radio]:checked ~ label ~ .content {
        z-index: 1;
    }
      /*tabs*/
      .tab-detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      .tab-detail-name {
          width: 100%;
          display: flex;
          font-weight: bold;
          font-size: 17px;
      }
      .tab-detail-color {
          width: 100%;
          max-height: calc(50% - 35px);
          display: flex;
          flex-direction: column;
      }
      .tab-detail-color-name {
          width: 100%;
          display: flex;
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 15px;
      }
      .tab-detail-color-img {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
      }
      .tab-detail-color-img-items {
          width: 70px;
          height: 95px;
          margin-right: 15px;
          margin-bottom: 15px;
          border: 5px solid transparent;
          cursor: pointer;
          text-align: center
      }
      .tab-detail-color-img-items img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .tab-detail-size {
          width: 100%;
          //max-height: calc(50% - 100px);
          display: flex;
          flex-direction: column;
      }
    .tab-detail-size-name {
        width: 100%;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
    }
    .tab-detail-size-icon {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .tab-detail-size-icon-items {
        width: 115px;
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid lightgrey;
        color: black;
        font-size: 13px;
        padding: 5px 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .tab-detail-size-icon-items span {
        font-weight: bold;
    }
      .tab-detail-add-all {
          width: 100%;
         // height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .tab-detail-add-left {
          width: 200px;
          height: 100%;
          display: flex;
          align-items: center;
          color: #e5bf44;
          font-weight: bold;
          font-size: 32px;
          float:left;
      }
      .tab-detail-add-right {
          width: 285px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .tab-detail-add-right-qty {
          display: flex;
          align-items: center;
      }
      .tab-detail-add-right-qty span {
          font-weight: bold;
          font-size: 15px;
          margin-right: 10px;
      }
      .tab-detail-add-right-qty input {
         width: 55px;

height: 30px;

background-color: white;

border: 1px solid lightgrey;

padding-left: 5px;

font-size: 20px;
      }
      .tab-detail-add-right-add {
          width: 155px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: bold;
          font-size: 16px;
          background-color: #e5bf44;
          cursor: pointer;
      }
    .detail-page-carousel {
        width: 100%;
        height: 100%;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .js-flickity-carousel-name {
        color: black;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
    }
    .js-flickity-carousel-price {
        width: 100%;
        padding: 0 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #deb335;
        font-weight: bold;
        font-size: 19px;
    }
    .detail-page-carousel-view {
        color: black;
        width: 110px;
        height: 30px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 45px;
        cursor: pointer;
    }
    .detail-page-carousel-header {
        text-align: center;
        font-size: 25px;
        color: black;
        margin: 25px 0;
    }
    .detail-page-img {
        width: 50%;
        min-width: 50%;
        height: 700px;
    }
    .detail-page-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      .gallery .flickity-viewport {
          height: 100% !important;
      }

      @media only screen and (max-width: 1024px) {
          .detail-page-top {
              height: 475px;
          }
          .tab-detail-color {
              max-height: unset;
              height: 185px;
          }
          .tab-detail-size {
              max-height: unset;
              height: 270px;
          }
          .tab-detail-name {
              margin-bottom: 15px;
          }
          .tab-detail-size-name {
              margin-bottom: 5px;
          }
          .tab-detail-color-name {
              margin-bottom: 5px;
          }
          .tab-detail-color-img {
              height: 140px;
              overflow-y: auto;
              overflow-x: hidden;
          }
          .tab-detail-size-icon {
              height: 195px;
              margin-bottom: 20px;
              overflow-y: auto;
              overflow-x: hidden;
          }
          .tab-detail-add-right-add {
              width: 145px;
              height: 35px;
          }
          .tab-detail-add-right-qty input {
              width: 45px;
              height: 35px;
          }
          .detail-page-top-img-small-img {
              height: calc(25% - 40px);
              margin: 20px 0;
          }
          .tab label {
              padding: 13px 10px;
              font-size: 12px;
          }
          .detail-page-carousel-top {
               height: 450px;
           }
          .detail-page-carousel-bottom {
              height: 450px;
          }
      }
      @media only screen and (max-width: 768px) {
          /*.detail-page-carousel-top {*/
              /*height: 375px;*/
          /*}*/
          /*.detail-page-carousel-bottom {*/
              /*height: 375px;*/
          /*}*/
          .detail-page-top {
              flex-direction: column;
              height: unset;
          }
          .detail-page-top-img {
              width: 100%;
              height: 475px;
              margin-bottom: 25px;
          }
          .detail-page-top-tabs {
              width: 100%;
              height: 475px;
          }
          .detail-page-top-img-big img {
              object-fit: contain;
          }
          .detail-page-top-img-small-img img {
              object-fit: contain;
          }
          .size {
              width: calc(50% - 10px) !important;
          }
      }
    @media only screen and (max-width: 425px) {
        .detail-page-top-img {
        height: 375px;
        }
        .detail-page-top-tabs {
        height: 375px;
        }
        .detail-page-top-img-small {
            width: 20%;
        }
        .detail-page-top-img-big {
            width: 75%;
        }
        .detail-page-top-img-small-img {
            height: calc(25% - 20px);
            margin: 10px 0;
        }
        .tab label {
            padding: 9px 4px;
            font-size: 9px;
            top: 8px;
        }
        .size {
            width: 100% !important;
        }
        .detail-page-carousel-header {
            font-size: 19px;
            margin: 0 0 10px 0;
        }
        .detail-page-carousel-top {
            height: 375px;
            margin: 25px 0;
        }
        .detail-page-carousel-bottom {
            height: 375px;
            margin-bottom: 25px;
        }
        .tab-detail-color-img {
            height: 90px;
        }
        .tab-detail-color-img-items {
            width: 50px;
            height: 63px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .tab-detail-size-icon {
            height: 70px;
            margin-bottom: 10px;
            padding-top: 5px;
        }
        .tab-detail-size-icon-items {
            width: 105px;
            height: 50px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .tab-detail-size {
            height: 175px;
        }
        .tab-detail-add-all {
            height: 135px;
        }
        .tab-detail-add-all {
            flex-direction: column;
            align-items: center;
        }
        .tab-detail-add-left {
            width: 100%;
            justify-content: center;
            font-size: 27px;
        }
        .detail-page-carousel {
            padding: 0;
          overflow:hidden;
        }
        .detail-page-top {
            margin-top: 25px;
        }
        .js-flickity-detail-carousel {
            height: calc(100% - 35px) !important;
        }
        .js-flickity-detail-carousel-bottom {
            height: calc(100% - 35px) !important;
        }
    }
</style>
   <style>
     
     
     .js-qty{
     width:65px
     }
                  
.ul_info{
   

    background: gainsboro;
    padding: 8px;
    padding: 9px;
    border-radius: 6px;
    margin: 5px;


}
	.li_info{
      float: left;
      width: 30%;
      overflow: hidden;
      list-style: none;
	}
   .li_info{
      float: left;
      width: 30%;
      overflow: hidden;
      list-style: none;
	}
	.li_info_r{
      overflow: hidden;
      list-style: none;
	}
                </style>
<script type="text/javascript">
    function htmlFlow() {
        $('html').css({
            'overflow': 'inherit',
        })
    }
    function goScrollUp() {
        $(function () {
            const scroll_pos = (0);
            $('html, body').animate({scrollTop: (scroll_pos)}, 'slow');
        });
    }

  function openMenuToggle() {
      if ($('.header-bottom-menu').css('left') === '0px') {
          $('.header-bottom-menu').css('left', '-250px');
          $('.menu-overlay').css('left', '-100%');
          $('.filter-toggle').css('z-index', '99');
          if ($('.list-page-filter-all').css('left') === '-50px') {
              $('html, body').css({
                  'overflow-y': 'hidden',
                  'height': '100%'
              });
          } else {
              $('html, body').css({
                  'overflow-y': 'auto',
                  'overflow-x': 'hidden',
                  'height': 'auto'
              });
          }
      } else {
          $('.header-bottom-menu').css('left', '0px');
          $('.menu-overlay').css('left', '0px');
          $('.filter-toggle').css('z-index', '9');
          $('html, body').css({
              'overflow-y': 'hidden',
              'height': '100%'
          });
      }
      htmlFlow();
  }

    function khazaiDetailCarousels() {
        setTimeout(() => {
            new Flickity(document.querySelector('.js-flickity-detail-carousel'), {
                freeScroll: false,
                contain: true,
                percentPosition: false,
                resize: false,
                initialIndex: 2,
                accessibility: false,
                wrapAround: true,
                cellAlign: 'center',
                pageDots: false,
                prevNextButtons: true,
            });
    }, 100);
    }
    function setFlickityDetailCarousel() {
        var flkty = $('.js-flickity-detail-carousel').flickity();
        if (!flkty) {
            flkty.flickity();
        } else {
            flkty.flickity('destroy');
            setTimeout(() => {
                flkty.flickity();
        }, 300);
            khazaiDetailCarousels();
        }
    }
    function khazaiDetailBottomCarousels() {
        setTimeout(() => {
            new Flickity(document.querySelector('.js-flickity-detail-carousel-bottom'), {
                freeScroll: false,
                contain: true,
                percentPosition: false,
                resize: false,
                initialIndex: 2,
                accessibility: false,
                wrapAround: true,
                cellAlign: 'center',
                pageDots: false,
                prevNextButtons: true,
            });
    }, 100);
    }
    function setFlickityDetailBottomCarousel() {
        var flkty = $('.js-flickity-detail-carousel-bottom').flickity();
        if (!flkty) {
            flkty.flickity();
        } else {
            flkty.flickity('destroy');
            setTimeout(() => {
                flkty.flickity();
        }, 300);
            khazaiDetailBottomCarousels();
        }
    }

  htmlFlow();
  goScrollUp();
  setFlickityDetailCarousel();
  setFlickityDetailBottomCarousel();

 


</script>




