

  <div class="search-tabs">
    <div class="search-tabs-left">
      <div>Select&nbsp;<strong>By</strong></div>
      <div class="search-tabs-left-items">
        <div class="search-tabs-left-items-item-1">
          <span style="cursor: pointer" onclick="colorShow()">Color</span>
          <div class="dot-1"></div>
          <div class="line-1-top"></div>
          <div class="line-1-bottom"></div>
        </div>
        <div class="search-tabs-left-items-item-2">
          <span style="cursor: pointer" onclick="sizeShow()"> Shape </span>
          <div class="dot-2"></div>
          <div class="line-2-top"></div>
          <div class="line-2-bottom"></div>
        </div>
        <div class="search-tabs-left-items-item-3">
          <span style="cursor: pointer" onclick="shapeShow()">design</span>
          <div class="dot-3"></div>
          <div class="line-3-top"></div>
          <div class="line-3-bottom"></div>
        </div>
      </div>
    </div>
    
    <div class="search-tabs-right">
      <div class="search-tabs-right-1">
          
<!--           <img src="blue-navy.png"/> -->
          
{% assign collection = collections.all %}
  
  {% if collection.tags.size == 0 %}
No tags found.
  {% else %}
  
{% for tag in collection.tags %}
  {% assign  tag_ar= tag | split:"_" %}
   {% if tag_ar[0]=='colorGroupName'%}
                  <div class="search-tabs-right-1-items">
                    
                    
                    {% assign url= tag_ar[1]| replace: "/", "-" | downcase %}
                    
                    
                    <img src="https://rmimages2.blob.core.windows.net/color/{{url}}.png"/>
           
                    
  <a href="{{ collection.url }}/{{ tag | handle }}">{{ tag_ar[1] }}</a>  
                        </div>

  {%endif%}

  {% endfor %}
{% endif %}
          
      </div>
      <div class="search-tabs-right-2">
        {% assign collection = collections.all %}
  
  {% if collection.tags.size == 0 %}
No tags found.
  {% else %}
  
{% for tag in collection.tags %}
  {% assign  tag_ar= tag | split:"_" %}
   {% if tag_ar[0]=='shapeName'%}
        <div class="search-tabs-right-2-items">
          
            {% assign url= tag_ar[1]| replace: "/", "-" | downcase | capitalize %}
           
                    <img src="https://rmimages2.blob.core.windows.net/shape/{{url}}.png"/>
       11   {{ tag | link_to_add_tag: tag }}11
        
  <a href="{{ collection.url }}/{{ tag | handle }}">{{ tag_ar[1] }}</a>  
       </div>

  {%endif%}

  {% endfor %}
         
      {%endif%}
             

      </div>
      <div class="search-tabs-right-3">
        
          {% if collection.tags.size == 0 %}
No tags found.
  {% else %}
        {% for tag in collection.tags %}
  {% assign  tag_ar= tag | split:"_" %}
   {% if tag_ar[0]=='designName'%}
     <div class="search-tabs-right-3-items">
  <a href="{{ collection.url }}/{{ tag | handle }}">{{ tag_ar[1] }}</a>  
       </div>

 {% endif %}

  {% endfor %}
        {% endif %}
 
        
      </div>
    </div>
  </div>







 




 {% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
