
        
        <ul >
                                <li class='attribute_name' >
             colorGroupName :
                                 </li>
                              
                             
                               <li id='colorGroupName' >
                               
                               {% if product.metafields.specifications.colorGroupName %}
                               {% for key_value in product.metafields.specifications.colorGroupName %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Primary Material :
                                 </li>
                              
                             
                               <li id='primaryMaterial' >
                               
                               {% if product.metafields.specifications.primaryMaterial %}
                               {% for key_value in product.metafields.specifications.primaryMaterial %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Secodary Material :
                                 </li>
                              
                             
                               <li id='secondaryMaterial' >
                               
                               {% if product.metafields.specifications.secondaryMaterial %}
                               {% for key_value in product.metafields.specifications.secondaryMaterial %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Size :
                                 </li>
                              
                             
                               <li id='size' >
                               
                               {% if product.metafields.specifications.size %}
                               {% for key_value in product.metafields.specifications.size %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Sex :
                                 </li>
                              
                             
                               <li id='gender' >
                               
                               {% if product.metafields.specifications.gender %}
                               {% for key_value in product.metafields.specifications.gender %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Additional Material :
                                 </li>
                              
                             
                               <li id='thirdMaterial' >
                               
                               {% if product.metafields.specifications.thirdMaterial %}
                               {% for key_value in product.metafields.specifications.thirdMaterial %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Item Code :
                                 </li>
                              
                             
                               <li id='sku' >
                               
                               {% if product.metafields.specifications.sku %}
                               {% for key_value in product.metafields.specifications.sku %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Market Price :
                                 </li>
                              
                             
                               <li id='marketPrice' >
                               
                               {% if product.metafields.specifications.marketPrice %}
                               {% for key_value in product.metafields.specifications.marketPrice %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Brand Name :
                                 </li>
                              
                             
                               <li id='brandName' >
                               
                               {% if product.metafields.specifications.brandName %}
                               {% for key_value in product.metafields.specifications.brandName %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Collection :
                                 </li>
                              
                             
                               <li id='collectionName' >
                               
                               {% if product.metafields.specifications.collectionName %}
                               {% for key_value in product.metafields.specifications.collectionName %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              
        
        <ul >
                                <li class='attribute_name' >
             Title Description :
                                 </li>
                              
                             
                               <li id='titleDescription' >
                               
                               {% if product.metafields.specifications.titleDescription %}
                               {% for key_value in product.metafields.specifications.titleDescription %}{{ key_value}}{% endfor %}
                                {% else %}
                                
                                 -
                                
                                
                                {% endif %}
                                
                               
                               
                               
                               </li>
                               
                              
                               
                              </ul>

                              